@tailwind base;
@tailwind components;
@tailwind utilities;

/* Overwrite "DialogContent" CSS - Reach UI */
[data-reach-dialog-content] {
  width: 50% !important;
}

@media (max-width: 768px) {
  [data-reach-dialog-content] {
    width: 91.666667% !important;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  [data-reach-dialog-content] {
    width: 83.333333% !important;
  }
}
